body {
  width: 100%;
  font-family: 'Press Start 2P', sans-serif;
  font-weight: 400;
  background-color: lightgray;
}

* {
  box-sizing: border-box;
}

.pokemon-list {
  width: 98%;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  list-style-type: none;
}

.button-style {
  border: 4px red solid;
  font-weight: bold;
  width: 100%;
  padding: 10%;
  border-radius: 5px;
  box-shadow: 3px 3px;
}

h1 {
  font-size: 30px
}

.button-style:hover {
  border: 5px blue solid;
  background-color: darkgray;
  color: blue;
}

@media all and (max-width: 1310px) {

  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media all and (max-width: 1080px) {

  .pokemon-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 800px) {

  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    font-size: 20px
  }
}

@media all and (max-width: 540px) {

  .pokemon-list {
    grid-template-columns: 1fr;
  }
}
